.faq-section {
  background-color: #000;
  /* font-family: "Playfair Display", serif; */
  text-align: left;
}

.faq-title {
  font-size: 2rem;
  font-weight: 500;
}

.faq-description {
  font-size: 1rem;
  line-height: 1.7;
  max-width: 850px;
}

.faq-question {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.75rem;
}

.faq-answer {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.7;
  max-width: 900px;
}

.faq-section {
  background-color: #1e1e1e; /* or whatever matches your theme */
  transition: all 0.3s ease;
}

.faq-question {
  font-weight: 600;
  font-size: 1.2rem;
}

.faq-answer {
  color: #ddd;
  font-size: 1rem;
}
