.about2-container {
  padding: 20px 0;
}

.about2-image {
  width: 70vw;
  height: 90vh;
  object-fit: fill;
  object-position: top center;
  /* max-width: 100%; */
  display: block;
  margin: 0 auto;
} 

/* Responsive adjustments */
@media (max-width: 768px) {
  .about2-image {
    height: auto;
    width: 90vw;
    object-fit: contain;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .about2-image {
    width: 100%;
    height: auto;
    padding: 5px;
  }
}
