.hero-section {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  overflow: hidden;
}

.hero-word {
  font-size: 9.8rem;
  text-transform: uppercase;
  font-family: "Rushford", serif;
  line-height: 0.8;
}

.starts {
  padding-right: 30px;
}

.hero-model-img {
  height: 120vh; /* Increased the image size */
  width: auto;
  object-fit: cover;
  /* margin-left: -10px; */
}

.hero-text-left,
.hero-text-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-text-left {
  text-align: right;
  color: black;
}

.hero-text-right {
  text-align: left;
  color: #555;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  overflow: hidden;
  position: relative;
}

.left-side-text {
  margin-right: -80px;
}

.right-side-text {
  margin-left: -80px;
}

body,
html {
  overflow-x: hidden;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    height: 50vh;
  }

  .hero-word {
    font-size: 3rem;
    text-align: center;
  }

  .hero-model-img {
    height: 400px;
    margin: 20px 0;
  }

  .hero-text-left,
  .hero-text-right {
    text-align: center;
    padding: 0;
  }

  .left-side-text {
    margin-right: 0px;
  }

  .right-side-text {
    margin-left: 0px;
  }
  .starts {
    padding-right: 0px;
  }
}
