@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rushford";
  src: url("/fonts/rushford/Rushfordclean-rgz89.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PlayfairDisplay";
  overflow-x: hidden;
}

.loader {
  animation: spin 1s linear infinite;
  font-size: 40px;
  margin: 0 auto;
  width: 100%;
}
.checkout-img-wrapper {
  width: 120px;
  padding: 3px;
  /* border-radius: 10px; */
  /* background-color: #ffe9e3; */
  border: 2px solid grey;
  box-shadow: inset 0 0 5px rgba(174, 91, 53, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
/* Define spin animation */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
