@font-face {
  font-family: "PlayfairDisplay";
  src: url("/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Rushford";
  src: url("/fonts/rushford/Rushfordclean-rgz89.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "PlayfairDisplay";
  overflow-x: hidden;
}
